.not-found-container {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161625;
  color: #ffffff;
}
.home-btn {
  background-color: #2563eb;
  width: 66px;
  height: 35px;

  border-radius: 12px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  margin: 20px;
}
.not-found-img {
  width: 250px;
  height: 160px;
}

.not-found {
  font-size: 16px;
}

.para {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .not-found-img {
    width: 400px;
    height: 280px;
  }
  .home-btn {
    width: 88px;
    height: 48px;
  }
  .not-found {
    font-size: 32px;
  }
  .para {
    font-size: 20px;
  }
}
.not-found-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161625;
  color: #ffffff;
}
.home-btn {
  background-color: #2563eb;
  width: 66px;
  height: 35px;

  border-radius: 12px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  margin: 20px;
}
.not-found-img {
  width: 250px;
  height: 160px;
}

.not-found {
  font-size: 16px;
}

.para {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .not-found-img {
    width: 400px;
    height: 280px;
  }
  .home-btn {
    width: 88px;
    height: 48px;
  }
  .not-found {
    font-size: 32px;
  }
  .para {
    font-size: 20px;
  }
}
