.stats-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.stat-card {
  font-family: 'Roboto';
  font-style: normal;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.country-case-name {
  font-size: 12px;
}
.country-case-count {
  font-size: 16px;
}
.confirmed-card {
  color: #ff073a;
}
.active-card {
  color: #007bff;
}

.recovered-card {
  color: #28a745;
}
.deceased-card {
  color: #6c757d;
}

.pic-size {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .stats-container {
    width: 800px;
    justify-content: space-evenly;
  }
  .country-case-name {
    font-size: 16px;
  }
  .country-case-count {
    font-size: 24px;
  }
  .stat-card {
    font-family: 'Roboto';
    font-style: normal;
    width: 200px;
    height: 200px;
  }
  .pic-size {
    width: 24px;
    height: 24px;
  }
}
