.span-logo {
  color: #3b82f6;
}

.nav-bar {
  max-width: 100vw;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e30;
}

.nav-links-container {
  display: flex;
  list-style: none;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

.nav-links-mobile {
  width: 100vw;
  list-style: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-screen {
  display: none;
}

.logo {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f8fafc;
}

.link-style {
  text-decoration: none;
  cursor: pointer;
}

.header-btn {
  background-color: transparent;
  color: #f8fafc;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .nav-links-mobile {
    display: none;
  }

  .nav-bar-screen {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar {
    height: 70px;
  }

  .nav-links-container {
    width: 200px;
    justify-content: space-between;
    margin-right: 70px;
  }

  .logo {
    font-size: 24px;
    margin-left: 50px;
  }

  .header-btn {
    font-size: 16px;
  }
}
