.span-logo {
  color: #3b82f6;
}
.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
  padding: 25px;
}
.footer-social-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 250px;
}
.footer-logo {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
}
.footer-para {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #94a3b8;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 24px;
  }
  .footer-para {
    font-size: 16px;
  }
}
